@font-face {
font-family: 'CodeLight';
src: url('../fonts/CODE Light.otf');

}	 

@font-face {
font-family: 'RalewayLight';
src: url('../fonts/Raleway-Light.ttf');

}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.ttf');

}

h1,h2,h3,h4,h5,h6,p
{
    color: #F5F5F5;
}

h1
{
    font-family: CodeLight;
    font-size: 6.75rem;
}

body
{
    font-family: LatoLight;
}

@media screen and (max-width: 980px)
{
    h1
    {
        font-size: 4rem;
    }
}

#excellence
{
    font-family: RalewayLight;
    font-size: 4rem;
}
#menu
{
    font-family: RalewayLight;
    font-size: 2rem;
}

.button
{
    font-family: RalewayLight;
    font-size: 1.3rem;
}

.button:hover
{
    border:0px;
    color: #F5F5F5;
}


.section_title
{
    text-align: center;
}


#not_into
{
    border-bottom: 1px solid white;
    width:30%;
    min-width: 300px;
}

.project_picture
{
    margin-bottom: 3px;
}

.project_picture
{
    min-height: 400px;
    min-width:350px;
    max-width: 750px;
    display: inline-block;
    width: 50%;
    background-size: cover;
    background-repeat: inherit;
}

.project_text
{
    display: inline-block;
    vertical-align: top;
}


#epic_projects
{
    background-image: url("../../images/projects/epicprojects.png");

}

#web_tools
{
    background-image: url("../../images/projects/tools.png");

}

#swing_shooter
{
    background-image: url("../../images/projects/swing.png");

}

.thumb
{
    overflow:hidden;



}

.thumb a
{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.thumb:hover a {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.project_pic
{
    -webkit-filter: saturate(20%); /* Chrome, Safari, Opera */
    filter: saturate(20%);
}

.project_pic:hover
{
    -webkit-filter: saturate(150%); /* Chrome, Safari, Opera */
    filter: saturate(150%);
}

body #three
{
    background-color: #eeeeee;
    color: #0F3057;
    //font-family: LatoLight;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

#contact_div
{
    width:50%;
    background-color: white;
    box-shadow: 0px 0px 1px 0px #0F3057;
    //border: 1px solid #0F3057;
    margin-right: auto;
    margin-left: auto;
   // margin-top: 50px;
}

#contact_icons
{
    display: inline-block;
}

.thumb a
{
    background-size: cover;
}

.thumb h2
{
    color: white;
}

#three i
{
    /*border: 1px solid #f04124;
    border-radius: 500px;*/
    padding:50px 50px 50px 50px;

}

hr
{
    background-color: #9e9e9e;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

#three i:hover
{
    scale(20%);
    color: #d80073;
    transition-duration: 0.3s;
}


#three h2

{
   padding-top: 30px;
}

#three
{
    background-image: url(../../images/contact.jpg);
    background-size: cover;
}

.contact_content
{
    color:#0F3057 ;
}


 .loading_popup
{
    width:20%;
    //height: 400px;
    position: absolute;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1a1a;
}

 body .dayumfooter
 {
     color: #bdbdbd;
 }