@font-face {
font-family: 'CodeLight';
src: url('../fonts/CODE Light.otf');

}	 

@font-face {
font-family: 'RalewayLight';
src: url('../fonts/Raleway-Light.ttf');

}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.ttf');

}

h1
{
    font-family: CodeLight;
    font-size: 6.75rem;
}

body
{
    font-family: LatoLight;
}

@media screen and (max-width: 980px)
{
    h1
    {
        font-size: 4rem;
    }
}

#excellence
{
    font-family: RalewayLight;
    font-size: 4rem;
}
#menu
{
    font-family: RalewayLight;
    font-size: 2rem;
}

.button
{
    font-family: RalewayLight;
    font-size: 1.3rem;
}

.button:hover
{
    border:0px;
    color: #F5F5F5;
}


.section_title
{
    text-align: center;
}


#not_into
{
    border-bottom: 1px solid white;
    width:30%;
    min-width: 300px;
}

.project_picture
{
    margin-bottom: 3px;
}

.project_picture
{
    min-height: 400px;
    min-width:350px;
    max-width: 750px;
    display: inline-block;
    width: 50%;
    background-size: cover;
    background-repeat: inherit;
}

.project_text
{
    display: inline-block;
    vertical-align: top;
}


#epic_projects
{
    background-image: url("../../images/projects/epicprojects.png");

}

#web_tools
{
    background-image: url("../../images/projects/tools.png");

}

#swing_shooter
{
    background-image: url("../../images/projects/swing.png");

}

.thumb
{
    overflow:hidden;



}

.thumb a
{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.thumb:hover a {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}