@media screen and (max-height: 872px) {

    #sidebar nav a
    {
        padding-top: 0px;
        padding-bottom: 0px;

    }

}

@media screen and (max-width: 872px) {

    #sidebar nav a
    {
       font-size: 0.6rem;

    }

    #contact_div
    {
        width:75%;
    }

}
